{% if not author %}
<h1>Looks like this Author doesn't exist :'(</h1>
{% else %}
    <h1>{{author.name}}</h1>
    <h2>About the author:</h2>
    <p>{{author.bio}}</p>
    <br>
    <div id="writtenby">
        <h3>Recipes by this author:</h3>
        {% for recipe in recipes %}
        <ul>
                <li>
           recipe: <a href="/recipe/{{recipe.id}}/">{{ recipe.title }}</a>
        </li>
    </ul>
    {%endfor%}
    </div>
    <div id="favorite_recipes">
        <h3>Favorite recipes of this author</h3>
        {% for fave in favorites %}
            <ul>
                <li>
                    recipe: <a href="/recipe/{{ fave.recipe.id }}/">{{ fave.recipe.title }} </a>    from author <a href="/author/{{ fave.recipe.author.id }}/"> {{ fave.recipe.author.name }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
    <!-- /#favorite_recipes -->

{% endif %}